html {
    background-color: #101010;
}
.navbar-inverse .navbar-brand {
    color: #e0d533 !important;
}
.navbar-inverse .navbar-nav>li>a {
    color: #e0d533 !important;
}
.jumbotron {
	background-image: url("../img/jumbotron_bg.jpg");
    background-size: 100% 100%;
    background-color: #101010 !important;
    margin-bottom: 0px !important;
}
.text {
    color: #e0d533 !important;
}