html {
    background-color: #101010;
}
.navbar-inverse .navbar-brand {
    color: #e0d533 !important;
}
.navbar-inverse .navbar-nav>li>a {
    color: #e0d533 !important;
}
#footer {
    background-color: black;
    padding: 20px;
    position: relative;
    clear: both;
}