html {
    background-color: #101010;
}
.jumbotron {
	height: 450px;
	background-image: url("../img/jumbotron_bg.435fbd1403bb.jpg");
    background-size: 100% 100%;
    background-color: #101010 !important;
    margin-bottom: 0px !important;
}
.navbar-inverse .navbar-brand {
    color: #e0d533 !important;
}

.navbar-inverse .navbar-nav>li>a {
    color: #e0d533 !important;
}
.text {
    color: #e0d533 !important   ;
}
.box-1 {
    background-color: #101010;
    padding-top: 50px;
}