.jumbotron {
	height: 300px;
	background-image: url("../img/jumbotron_bg.435fbd1403bb.jpg");
    background-size: 100% 100%;
    background-color: #101010 !important;
    margin-bottom: 0px !important; 
}
.text {
    color: #e0d533 !important;
}