{% extends 'base.html' %}
{% load static %}

{% block head %}

{% endblock %}


{% block body %}
<div class="container-fluid text" style="background-color: #101010; padding-bottom: 20px;">
    <center><h1>Search the book you want here!</h1></center>
    <div class="container" style="background-color:gray; padding:20px">
        <form method="POST">
            {% csrf_token %}
            <label>Name Book</label>
            <input type="text" class="form-control" name="title" id="query" maxlength="100" placeholder="Type book you want to search here!">
        </form>
        <hr>
        <center><h2 id = "result-text" style="display: none;">Result</h2></center>
        <script>
        </script>
    </div>
    
</div>
{% endblock %}