{% extends 'base.html' %}


{% block head %}
<style>
.accordion {
    background-color:rgb(0, 0, 155);
    cursor : pointer;
    width : 100%;
    border : none;
    text-align: left;
    outline: none;
    transition: 0.5s;
    font-size: 24px;
}

.active, .accordion:hover {
    background-color: rgb(0, 0, 255);
}

.panel {
    padding: 0;
    background-color: rgb(27, 27, 71);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease-out;
    margin: 0;
}
</style>
{% endblock %}


{% block body %}
<div class="container-fluid text" style="padding-bottom: 20px; background-color: #101010;">
    <center><h1>Lets play with simple accordion!</h1></center>
    <div class="container sortable" style="padding: 20px; background-color: gray;">
        <button class="accordion">My Favorite Foods</button>
        <div class="panel">
            <p>- Fried Rice</p>
            <p>- Any kind of noodle</p>
            <p>- Something Spicy</p>
        </div>
        <button class="accordion">My Favorite Songs</button>        
        <div class="panel">
            <p>- 1812 Overture by Tchaikovsky</p>
            <p>- Sogno di Volare by Christopher Tin</p>
            <p>- Tempo di Bolero Moderato Assai</p>
            <p>- Other classical to romantical era songs</p>
        </div>
        <button class="accordion">My Hobby</button>
        <div class="panel">
            <p>- Do help other</p>
            <p>- Playing Chess</p>
            <p>- Playing Strategy Genre Games</p>
        </div>
    </div>
</div>

<script>
    var element = document.getElementsByClassName("accordion");
    for (var i = 0; i < element.length; i++) {
        element[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }

    $(".sortable").sortable({
        start: function (event, ui) {
            ui.item.startPos = ui.item.index();
        },
        stop: function (event, ui) {
            // handle swapping from bottom to top( 7 -> 1)
            if (ui.item.startPos > ui.item.index()) {
                // when items are next to each other, don't swap
                if ((ui.item.startPos - ui.item.index()) == 1) return;
                $(".sortable").eq(ui.item.startPos).after(ui.item.next());
            } else {
                // when items are next to each other, don't swap
                if ((ui.item.index() - ui.item.startPos) == 1) return;
                // handle swapping from top to bottom(1 -> 7)
                $(".sortable").eq(ui.item.startPos).before(ui.item.prev());
    }
}
});
</script>
{% endblock %}