{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
{% endblock %}

{% block body %}
<div class="box-1">
    <p style="text-align: center;">
        <img src="{% static 'img/pp.jpg' %}" style="padding-left:5%;" class="col-lg-3">
    </p>
    <div class="container-fluid" style="text-align: center;">
        <div class="col-lg-8">
            <h1 class="text">"Who I am? Do you know who I am?</h1>
            <h2 class="text">
                <br>
                I am Muhamad Nicky Salim, but just call me Nicky!<br>
                I am a Mathematician and Computer Scientist!<br>
                I love to teach other and playing chess!
            </h2>
            <div class="container-fuid" style="margin-top: 50px;">
                <h1 class="text" style="display: inline;">More about me at </h1>
                <a class="text" href="{% url 'profile' %}" style="font-size: 34px; text-decoration: underline;">here!</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}