{% extends 'base.html' %}
{% load static %}

{% block head %}

{% endblock %}

{% block body %}
<div class="container-fluid" style="background-color: #101010; padding-bottom: 20px;">
    <div class="container">
        <h2 class="text"> Short Biography</h2>
        <h3 class="text">- My name is Muhamad Nicky Salim, but people usually call me Nicky</h3>
        <h3 class="text">- I was born in Jakarta, June 27th, 1999</h3>
        <h3 class="text">- I'm {{age}} years old</h3>
        <h3 class="text">- I'm live in Tangerang</h3>
    </div>
</div>
<div class="container-fluid" style="background-color: black; padding-bottom: 20px;">
    <div class="container" style="padding-left: 100px;">
        <h2 class="text">Formal Education</h2>
        <h3 class="text">- SDN Cipondoh 2, Tangerang</h3>
        <h3 class="text">- SMPN 5 Tangerang</h3>
        <h3 class="text">- SMAN 2 Tangerang</h3>
        <h3 class="text">- University of Indonesia (Current)</h3>
    </div>
</div>
<div class="container-fluid" style="background-color: #101010; padding-bottom: 20px;">
    <div class="container">
        <h2 class="text">Working Experience</h2>
        <h3 class="text">- Works for "Laskar UI" private tutoring (2018)</h3>
        <h3 class="text">- Private tutor by "Teman Belajar Fasilkom UI" (2018)</h3>
        <h3 class="text">- Works for Informatic Olympiad private tutor for some schools around Jakarta (2018-2019)</h3>
        <h3 class="text">- Works for SBMPTN and Simak UI private tutor (2020)</h3>
    </div>
</div>
<div class="container-fluid" style="background-color: black; padding-bottom: 20px;">
    <div class="container" style="padding-left: 100px;">
        <h2 class="Working Experience">
        <h2 class="text">Organization Experience</h2>
        <h3 class="text">- Head of Chess Club at Junior High School</h3>
        <h3 class="text">- Head of Computer Science Olympiad at Senior High School</h3>
        <h3 class="text">- Math teacher and tutor for non-profit online SBMPTN tutoring (2017-2019)</h3>
        <h3 class="text">- Staff of consumtion division for "FEC Education Care Banten" voluntary event (2018)</h3>
        <h3 class="text">- Staff of academic division for "Mari Mengajar 7" voluntary event (2018)</h3>
        <h3 class="text">- Teacher and mentor for "Betis Fasilkom UI" voluntary event (2019-2020)</h3>
    </div>
</div>
<div class="container-fluid" style="background-color: #101010; padding-bottom: 20px;">
    <div class="container">
        <h2 class="text">Fun Fact</h2>
        <h3 class="text">- My original birthday is June 27th, 1999. But formally written January 27th, 1999</h3>
        <h3 class="text">- I'm live in Tangerang but most of my family live in Jakarta </h3>
        <h3 class="text">- I have 3 little brother respectively: Ken, Kei, Naja</h3>
        <h3 class="text">- I have Chinese and Japanese bloodline far away, along with Indonesian bloodline</h3>
        <h3 class="text">- I love to playing chess and have played for some chess tournament</h3>
        <h3 class="text">- I love mathematic and computer science since Senior High School</h3>
        <h3 class="text">- I like to engaged at teaching and mental health voluntary</h3>
        <h3 class="text">- I want to be a polymath, researcher, and lecturer</h3>
        <h3 class="text">- Currently, I have taking Computer Science major at University of Indonesia</h3>
    </div>
</div>

{% endblock %}