{% extends 'base.html' %}

{% block head %}
<title>{{ name }}</title>
{% endblock %}

{% block body %}
<h1>Hello my name is {{ name }}</h1>
<article>NPM : {{ npm }}</article>
<article>I am {{ age }} years old</article>
{% endblock %}