{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        #footer {
            background-color: black;
            padding: 20px;
            min-height: 150px;
            position: relative;
            clear: both;
        }
    </style>
    {% block head %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-inverse" style="margin-bottom:0; border-radius: 0; background-color: black;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'homepage' %}">Nicky's Site</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{% url 'accordion' %}">Accordion</a></li>
                <li><a href="{% url 'activity' %}">Activity</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="{% url 'book' %}">Book</a></li>
                <li><a href="{% url 'schedule' %}">Class</a></li>
                <li><a href="{% url 'profile' %}">Profile</a></li>
            </ul>
        </div>
    </nav>
    <div class = "jumbotron text-center" style="height: 300px;">
        <h1 class="text">Welcome to my personal site!</h1>
        <h2 class="text">Share the love and peace with Math and Algorithms!</h2>
    </div>
    {% block body %}
    {% endblock %}

    <div class="container-fluid" id = "footer">
        <center>
            <h3 style="color: #e0d355;">There's no life without mathematic</h3>
            <p style="color: #e0d355;">Muhamad Nicky Salim's site! All Right Reserved.</p>
        </center>
    </div>
</body>
</html>