{% extends 'base.html' %}
{% load static %}

{% block head %}

{% endblock %}


{% block body %}
<div class="container-fluid text" style="background-color: #101010; padding-bottom: 20px;">
    <center><h1>Add Class Schedule</h1></center>
    <div class="container">
        <form method="POST" action="{% url 'add_schedule' %}">
            {% csrf_token %}
            <div class="container">
                <div class="form-group">
                    <label>Name Class</label>
                    <input type="text" class="form-control" name="name" maxlength="100" placeholder="Enter Class">
                </div>
                <div class="form-group">
                    <label>Name of Lecturer</label>
                    <input type="text" class="form-control" name="lecturer" maxlength="100" placeholder="Enter Name">
                </div>
                <div class="form-group">
                    <label>Credits</label>
                    <input type="number" class="form-control" name="credits" max="12" min="1" placeholder="Enter the credits">
                </div>
                <div class="form-group">
                    <label>Description of Class</label>
                    <textarea class="form-control" name="desc" maxlength="300" rows="5" placeholder="Write the description"></textarea>
                </div>
                <div class="form-group">
                    <label>Term of Semester</label>
                    <input type="text" class="form-control" name="term" maxlength="50" placeholder="Ex: Gasal 2020/2021">
                </div>
                <div class="form-group">
                    <label>Room</label>
                    <input type="text" class="form-control" name="room" maxlength="20" placeholder="Write the room">
                </div>
                {% if error %}
                <center><h3>{{error}}</h3></center>
                {% endif %}
                <button type="submit" class="btn btn-warning">Submit!</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}