{% extends 'base.html' %}
{% load static %}

{% block head %}

{% endblock %}


{% block body %}
<div class="container-fluid text" style="background-color: #101010; padding-bottom: 20px;">
    <center><h1>List of My Class</h1></center>
    {% if data %}
    {% for element in data %}
    <div class="container" style="background-color: gray; padding-bottom: 20px;">
        <h2>Class : {{element.name}}</h2>
        <h3>- Delivered by {{element.lecturer}}</h3>
        <h3>- {{element.credits}} credit(s)</h3>
        <h3>- {{element.term}} </h3>
        <h3>- {{element.room}}</h3>
        <h3>- Desc:</h3>
        <h3>  {{element.desc}}</h3>
        <br>
        <a class="btn btn-danger" href="{% url 'del_schedule' del_id=element.id %}">Delete</a>
    </div>
    {% endfor %}
    {% else %}
    <br>
    <center><h2>None of class listed here</h2></center>
    {% endif %}
    <hr>
    <center>
        <h1 style="display: inline;">Want to add more classes? Click </h1>
        <a style="font-size: 34px; text-decoration: underline;" href="{% url 'add_schedule' %}">here!</a>
    </center>
</div>
{% endblock %}