{% extends 'base.html' %}
{% load static %}

{% block head %}

{% endblock %}


{% block body %}
<div class="container-fluid text" style="padding-bottom: 20px; background-color: #101010;">
    <center><h1>List of my Activity</h1></center>
    {% if data %}
    {% for element in data %}
    <div class="container" style="padding-bottom: 20px; background-color: gray;">
        <h2>- {{element.name}}</h2>
        <h3>  {{element.desc}}</h3>
        <a class="btn btn-danger" href="{% url 'del_activity' del_id=element.id %}">Delete Activity</a>
        <hr>
        {% if data.participant %}
        <h2>Participant:</h2>
        {% for person in  data.participant %}
        <h3 style="display: inline;">{{person.name}}, </h3>
        <a style="text-decoration:underline;" href="{% url 'del_participant' del_code=person.id %}">cancel?</a>
        {% endfor %}
        <hr>
        {% endif %}
        <form method="POST" action="{% url 'add_participant' add_id=data.id %}">
            {% csrf_token %}
            <div class="form-group">
                <label>Wanna join this activity?</label>
                <input type="text" class="form-control" name="name" maxlength="50" placeholder="Write your name here!">
            </div>
            <button type="submit" class="btn btn-warning">Add my name!</button>
        </form>
    </div>
    {% endfor %}
    {% else %}
    <center><h2>There is no Activity to show ...</h2></center>
    {% endif %}
</div>
{% endblock %}